<phpunit bootstrap="tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         stderr="true">
    <testsuites>
        <testsuite name="OmekaCli">
            <directory>tests/OmekaCli/</directory>
        </testsuite>
    </testsuites>
</phpunit>
