<phpunit bootstrap="tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         stderr="true">
    <testsuites>
        <testsuite name="OmekaCli">
            <directory>tests/OmekaCli/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="OMEKA_DB_HOST" value="localhost"/>
        <env name="OMEKA_DB_USER" value="omeka"/>
        <env name="OMEKA_DB_PASS" value=""/>
        <env name="OMEKA_DB_NAME" value="omeka_cli_test"/>
        <env name="OMEKA_ZIP_PATH" value="https://github.com/omeka/Omeka/releases/download/v2.6/omeka-2.6.zip"/>
    </php>
</phpunit>
